@import '../../../../../styles/variables.scss';

.list-container {
  display: flex;
  gap: 5px;
  margin: 0rem 0.5rem 0rem 0rem;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5px;
    li {
      position: relative;
    }
  }
  a {
    background-color: rgb(90, 90, 90);
    font-size: 0.8rem;
    font-weight: 700;
    color: $secondary-text-color;
    padding: 0.5rem 1rem 0.2rem 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    box-shadow: 0px -1px 14px -4px rgba(122, 122, 122, 0.719);
    cursor: pointer;
    &:hover {
      background-color: rgb(70, 70, 70);
      scale: 1.05;
    }
    &.active {
      background-color: $primary-blue-color;
      color: $secondary-text-color;
      &.close {
        svg {
          color: white;
        }
      }
    }
  }

  .close {
    position: absolute;
    top: -3px;
    right: -19px;
    border: none;
    background-color: transparent;
    svg {
      scale: 1.5;
      color: rgba(223, 26, 0, 0.897);

      &:hover {
        color: rgb(179, 31, 5);
        scale: 1.7;
      }
    }
  }
}
@media only screen and (max-width: $breakpoint-small) {
  .list-container {
    padding: 0 1rem;
  }
}
