@import '../../../../styles/variables.scss';

.container {
  background-color: $primary-color;

  ul {
    display: inline-flex;
    gap: 15px;
    padding: 0.3rem;
    margin: 0;
    li {
      font-size: 0.6rem;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      font-weight: 500;
      background-color: #181818;
      color: $secondary-text-color;
    }
  }
}
