@import '../../styles/variables.scss';

.fieldset-inputs {
  display: flex;
  gap: 15px;
  background-color: $primary-color;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 7px 0px rgb(148, 148, 148);
  padding: 1rem;
  border: none;
}
@media only screen and (max-width: 1400px) {
  .fieldset-inputs {
    gap: 10px;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
