@import '../../styles/variables.scss';

.fieldset-inputs {
  display: flex;
  //   justify-content: space-around;
  gap: 15px;
  background-color: $primary-color;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 7px 0px rgb(148, 148, 148);
  padding: 1rem 1rem;
  border: none;
  div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
