@import '../../../../../../styles/variables.scss';

.filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 1px;
  padding: 0.2rem;
  .row {
    display: flex;
    gap: 15px;
    flex-direction: row;
  }
  p {
    font-size: 0.9rem;
    margin: 0;
  }
}
