@import '../../../../../styles/variables.scss';

.navigation {
  padding: 0;
}
.load {
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr 0.9fr 0.6fr 0.6fr 1fr 0.6fr;
  background-color: $secondary-color;
  font-size: 0.8rem;
  width: 100%;
  height: 65px;
  cursor: pointer;
  &:hover {
    background-color: $primary-color;
  }
  p {
    padding-top: 0.2rem;
    margin: 0;
  }
  p,
  span {
    padding-left: 0.5rem;
  }

  .salary {
    font-weight: 700;
  }
  .vehicles {
    font-size: 0.6rem;
  }
  .term {
    font-size: 0.6rem;
    padding-top: 0;
  }
  .cargo {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
    padding-top: 0.2rem;
    span {
      margin-right: 1rem;
    }
  }
  .date {
    font-size: 0.9rem;
  }
  .company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.75rem;
    position: relative;
    padding: 0;
    .name {
      font-weight: 700;
      grid-column: 1/3;
    }
    .publisher {
      display: flex;
      gap: 10px;
      font-size: 0.75rem;
      color: $primary-blue-color;
    }
    .avatar {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .time {
    font-size: 0.65rem;
    padding-top: 0;
    white-space: nowrap;
  }
  .accept-button,
  .delete-button {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100px;
    color: white;
    font-weight: 700;
    font-size: 0.6rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 8px 8px 22px -11px rgba(136, 136, 136, 1);
  }
}
.accept-button {
  background-color: $secondary-button-color;
  cursor: pointer;
  &:hover {
    background-color: #35bb3a;
  }
}
.delete-button {
  background-color: $error-color;
  &:hover {
    background-color: #df443f;
  }
}

@media only screen and (max-width: 1400px) {
  .load {
    font-size: 0.7rem;
    height: auto;
  }
  .cargo {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    padding-top: 0.2rem;
    span {
      margin-right: 1rem;
    }
  }
  .avatar {
    display: none;
  }
}
@media only screen and (max-width: $breakpoint-large) {
  .load {
    font-size: 0.8rem;
    grid-template-columns: 1fr 1fr 0.6fr 0.9fr 0.6fr 0.6fr 1fr 0.6fr;
    .accept-button,
    .delete-button {
      width: 50px;
      border-radius: 0.5rem;
      font-size: 0.5rem;
    }
    .cargo {
      font-size: 0.6rem;
    }
    .company {
      font-size: 0.6rem;
      .pubisher {
        font-size: 0.6rem;
      }
    }

    .date {
      font-size: 0.6rem;
    }
  }
}

@media only screen and (max-width: $breakpoint-medium) {
  .load {
    grid-template-columns: repeat(7, 1fr);
    font-size: 0.8rem;
    height: auto;
    border: 1px dashed rgba(139, 139, 139, 0.37);
    border-radius: 0.5rem;
    &:hover {
      background-color: $secondary-color;
    }
    p,
    span {
      padding-left: 0.1rem;
    }

    .loading-location,
    .unloading-location {
      display: flex;
      grid-column: span 4;
      padding: 0.2rem;
      gap: 5px;
      font-family: 1rem;
      background-color: rgb(212, 212, 212);
    }
    .payment {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      grid-column: span 8;
      background-color: rgb(231, 230, 230);

      p {
        font-size: 1rem;
      }
    }
    .cargo {
      display: flex;
      flex-wrap: wrap;
      grid-column: span 3;
      font-size: 0.6rem;
    }
    .company {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      font-size: 0.6rem;
      .name {
        padding: 0;
        margin: 0;
      }
      .publisher {
        font-size: 0.6rem;
      }
    }

    .date {
      font-size: 0.6rem;
    }
    .time {
      font-size: 0.5rem;
    }
    .accept-button,
    .delete-button {
      grid-column: span 9;
      height: 30px;
      width: 100%;
      border-radius: 0.5rem;
      font-size: 1rem;
    }
  }
}
