@import '/src/styles/variables.scss';

.fleet-container {
  display: flex;
  flex-direction: column;
  gap: 15px 10px;
  padding: 1rem;
  height: 100%;
  overflow: auto;
  background-color: $secondary-color;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 15px 20px;

  .no-results__information {
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(233, 51, 51);
  }
}
