@import '/src/styles/variables.scss';

.fleet-container {
  display: flex;
  flex-direction: column;
  gap: 5px 10px;
  padding: 1rem;
  background-color: $background-color;
  max-height: 100%;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 15px 20px;
  height: 770px;

  .no-results {
    font-size: 1.2rem;
    text-align: center;
    color: rgb(233, 51, 51);
  }
}
