@import '../../../styles/variables.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-width;
  height: 100%;
  background-color: $primary-color;
  padding: 1rem 1rem;
  transition: all 0.15s;

  img {
    scale: 0.8;
    border-bottom: 1px solid $line-color;
    &.hidden {
      display: none;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
  }

  li {
    a {
      font-weight: 600;
      border-radius: 1rem;
      transition: color 0.5s ease, background-color 0.3s ease;
    }
  }
  &.hidden {
    padding: 0;
    width: 0;
  }
}

.main-links {
  height: 50%;
  li {
    font-size: 1.2rem;
  }
  a {
    &:hover {
      background-color: $primary-blue-color;
      color: $secondary-text-color;
    }
  }
  &.hidden {
    ul {
      display: none;
    }
  }
}

.info-links {
  li {
    font-size: 0.7rem;
    line-height: 0.7;
  }
  a {
    &:hover {
      color: $hover-text-color;
    }
  }
  &.hidden {
    display: none;
  }
}

.author {
  margin-top: 1rem;
  font-size: 0.5rem;
}
