@import '../../../../styles/variables.scss';

.date-inputs {
  display: flex;
  flex-direction: row;
  gap: 5px;

  .date-fieldset {
    background-color: $primary-color;
    // margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border: none;
  }
}
