@import '../../../../styles/variables.scss';

.filter {
  width: auto;
  // background-color: $primary-color;
  border-radius: 1px;
  padding: 0.5rem 0.3rem;

  // box-shadow: 6px 4px 9px -5px rgba(137, 137, 138, 1);
  border-right: 1px solid rgba(128, 128, 128, 0.322);
  p {
    font-size: 0.9rem;
  }
}
