@import '../../../../styles/variables.scss';

.address-inputs {
  display: flex;
  gap: 5px;
  margin: 0.5rem 0;
  //   padding: 0.5rem 1rem;
  background-color: $primary-color;
  width: max-content;
  padding: 0.5rem 1rem;
  border: none;
  .inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  label {
    width: 50px;
    height: min-content;
    background-color: #777777;
    padding: 0.2rem 0.5rem;
    color: white;
    border-radius: 5px;
  }
}
