@import '../../../../../../styles/variables.scss';

.payment-inputs__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  grid-column: 1/3;
  padding: 0.5rem;
  background-color: $secondary-color;
  border-radius: 0.5rem;
  .payment-inputs {
    display: flex;
    gap: 30px;
    label {
      margin: 0 1rem;
    }
  }
  .payment {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
  }
}
@media only screen and (max-width: $breakpoint-medium) {
  .payment-inputs__container {
    .payment {
      gap: 20px;
      flex-direction: column;
      align-items: center;
    }
  }
}
