@import '../../../../../../styles/variables.scss';

.form {
  background-color: $secondary-color;
  display: grid;
  grid-template-columns: 1fr;
}

.filters-container {
  display: grid;
  grid-template-columns: 15% 40% 40%;
  background-color: $secondary-color;
  padding: 0 1rem 0.5rem 1rem;
  justify-content: space-between;
  font-size: 0.7rem;
  &.hidden {
    display: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 1rem;
  .show-filters__button {
    background-color: #5e5e5e;
    &.hidden {
      margin-top: 1rem;
    }
    &:hover {
      color: white;
      background-color: #868686;
    }
  }
  .show-filters__button,
  .apply-button {
    color: $secondary-color;
    font-weight: 600;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(143, 143, 143, 0.349);
    border-radius: 0.5rem;
    box-shadow: 3px 2px 5px 0px rgb(117, 117, 117);
    cursor: pointer;
  }
  .apply-button {
    background-color: $primary-blue-color;
    &:hover {
      color: white;
      background-color: $primary-hover-button-color;
    }
    &.hidden {
      display: none;
    }
  }
}
@media only screen and (max-width: $breakpoint-large) {
  .filters-container {
    grid-template-columns: 0.3fr 1fr;
    align-items: center;
    justify-content: center;

    div:nth-child(3) {
      grid-column: span 2;
    }
  }
  .buttons {
    .show-filters__button,
    .apply-button {
      font-size: 0.6rem;
      padding: 0.3rem 0.6rem;
    }
  }
}
@media only screen and (max-width: $breakpoint-small) {
  .filters-container {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.6rem;
  }
}
