.container {
  display: flex;
  &.column {
    flex-direction: column;
  }
  .label {
    min-width: 50px;
  }
  .helperText {
    width: max-content;
    font-family: 'Nunito', sans-serif;
    color: #d32f2f;
  }
}
