.container {
  display: flex;
  &.column {
    flex-direction: column;
  }
  .label {
    min-width: 50px;
    margin-right: 1rem;
  }
  .helperText {
    font-family: 'Nunito', sans-serif;
    color: #d32f2f;
  }
}
