@import '../../../../../styles/variables.scss';

.loads-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

.sort-list {
  display: grid;
  background-color: #777777;
  color: $secondary-text-color;
  text-align: center;
  font-size: 0.8rem;
  height: max-content;
  ul {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr 0.6fr 0.9fr 0.6fr 0.6fr 1fr 0.6fr;
    li {
      position: relative;
      padding: 0.5rem 0.2rem;
      cursor: pointer;
      &:hover {
        background-color: $primary-blue-color;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0px;
        height: 100%;
        border-right: 2px solid rgb(209, 208, 208);
        vertical-align: middle;
      }
    }
  }
}
.loads {
  display: flex;
  flex-grow: 1;
  align-self: flex-start;
  width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  justify-content: center;
  background-color: $secondary-color;
  border-top: 1px solid rgba(124, 124, 124, 0.479);
  padding: 0.2rem 0;
}
