@import '../../../../styles/variables.scss';
.notifications-box {
  position: relative;
  .notification-button {
    display: flex;
    align-items: center;
    background: none;
    color: $primary-color;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    &:hover {
      color: $secondary-button-color;
      background-color: #dbdbdb1a;
    }
  }
  .notifications-container {
    position: absolute;
    border-radius: 0.5rem;
    box-shadow: 8px 8px 24px -5px rgba(136, 136, 136, 1);
    padding: 1rem 0.5rem;
    height: 250px;
    width: 200px;
    background-color: $secondary-color;
    z-index: 10000;

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 0;
      height: 150px;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 1rem;
        border-radius: 0.2rem;
        .mark-button {
          display: flex;
          align-items: center;
          background-color: none;
          padding: none;
          border: none;
          padding: 0;
          background-color: transparent;
        }
      }
      .success {
        background-color: rgb(50, 173, 112);
      }
      .error {
        background-color: rgb(173, 57, 57);
      }
      .warn {
        background-color: rgb(230, 230, 100);
      }
      .no-results {
        color: rgb(64, 170, 64);
        text-align: center;
        font-weight: bold;
      }
    }
  }
  .read-all_button,
  .clear-button {
    padding: 0.2rem 0.5rem;
    margin: 0 0.2rem;
    background-color: none;
    border: none;
    border-radius: 0.2rem;
    background-color: $primary-blue-color;
    color: white;
    &:hover {
      background-color: $primary-hover-button-color;
    }
  }
  .close-button {
    position: absolute;
    top: 20px;
    right: 10px;
    border: none;
    color: $primary-blue-color;
    svg {
      background-color: rgb(204, 204, 204);
      padding: 0.3rem;
      border-radius: 30%;
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
