@import '/src/styles/variables.scss';

.pagination {
  display: flex;
  justify-content: center;
  background-color: $primary-color;
  padding: 0.2rem 0;
}
.orders-list {
  .buttons {
    text-align: center;
    .delete {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(95, 94, 94);
      margin: 0 auto;
      border: 1px solid white;
      &:hover {
        background-color: rgb(187, 63, 63);
      }
    }
  }
}
