@import '../../styles/variables.scss';

.title {
  background-color: $primary-blue-color;
  width: max-content;
  padding: 0.3rem 1rem;
  margin-top: 0;
  color: $secondary-text-color;
  border-radius: 15px;
  font-weight: 700;
}
