@import '../../styles/variables.scss';

.list-container {
  display: flex;

  span {
    &.hidden {
      display: none;
    }
  }

  a {
    &:hover {
      color: white;
    }
  }
}

.list {
  width: 100%;
}
a,
button {
  display: flex;
  gap: 10px;
  padding: 0.3rem 1rem;
  color: $primary-color;
}

.active {
  background-color: $primary-blue-color;
  border-radius: 1rem;
  color: white;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
}
.disabled {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: 1rem;
  // background-color: $primary-blue-color;
  color: $primary-text-color;
  cursor: not-allowed;
  width: 100%;
  font-size: 19.2px;
  &:hover {
    background-color: rgb(175, 174, 174);
  }
}
