@import './variables.scss';

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
}

* {
  font-family: $font-family;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  color: $primary-text-color;
  background-color: $background-color;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}

li {
  list-style: none;
}
button {
  cursor: pointer;
}
