@import './variables.scss';

html,
body {
  position: relative;
  box-sizing: border-box;
  height: 100vh;
  // width: 100vw;
  color: $primary-text-color;
  background-color: $background-color;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  color: black;
}

* {
  font-family: $font-family;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}

li {
  list-style: none;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media only screen and (max-width: $breakpoint-small) {
  #root {
    height: auto;
    width: 100%;
  }
}
