/// colors
//background
$bacground-color: #373e40;
//main colors
$primary-color: #e9e9e9;
$secodnary-color: #d9d9d9;
$primary-blue-color: #2a4354;
//text colors
$primary-text-color: #0a0909;
$secondary-text-color: #ebe7f2;
$hover-text-color: #2a4354;
//button colors
$primary-button-color: #060606;
$secondary-button-color: #2b932f;
//other
$line-color: #436c88;
/// fonts
$font-family: "Nunito", sans-serif;
/// spacing

/// breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
/// border radius
