/// colors
//background
$background-color: #bdbebe;
//main colors
$primary-color: #ffffff;
$secondary-color: #f1f1f1;
$primary-blue-color: #2a4354;
//text colors
$primary-text-color: #0a0909;
$secondary-text-color: #ebe7f2;
$hover-text-color: #2a4354;
$primary-hover-button-color: #3c5f77;
$secondary-hover-button-color: #31a335;
//button colors
$primary-button-color: #303030;
$secondary-button-color: #2b932f;
// $secondary-button-color: #303030;
//other
$line-color: #436c88;
$error-color: #d32f2f;
/// fonts
$font-family: 'Nunito', sans-serif;
$secondary-font-family: 'Geologica', sans-serif;
/// spacing

/// breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
/// border radius
// navigation
$nav-width: 150px;
