@import '../../../../styles/variables.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: $nav-width;
  height: 100%;
  background-color: $secondary-color;
  padding: 1rem 1rem;
  transition: all 0.3s;
  overflow: hidden;
  &.hidden {
    width: 40px;
  }
}
.nav-container {
  position: relative;
  height: 100%;

  .logo {
    position: absolute;
    top: 50px;
    left: 0px;
    &.hidden {
      display: none;
    }
  }
  .main-links {
    position: absolute;
    top: 200px;
    left: -5px;
    height: 250px;
    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 10px;
      padding: 0;
      li {
        &:hover {
          border-radius: 1rem;
          background-color: $primary-blue-color;
        }
        a {
          &:hover {
            color: white;
          }
        }
        font-size: 1.2rem;
      }
    }
  }
  .info-links {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 500px;
    overflow: hidden;
    width: 300px;
    left: -5px;
    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      li {
        font-size: 0.7rem;
        line-height: 0.8;
        a {
          &:hover {
            color: $primary-blue-color;
            text-decoration: underline;
          }
        }
      }
    }
    &.hidden {
      display: none;
    }
  }
  .author {
    position: absolute;
    top: 700px;
    left: 20px;
    margin-top: 1rem;
    font-size: 0.5rem;
    width: 200px;
    &.hidden {
      display: none;
    }
  }
}
