@import '../../../../../../styles/variables.scss';

.cargo-dimensions {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: $secondary-color;
  border-radius: 0.5rem;

  .dimensions-inputs__container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    label {
      margin: 0 1rem;
    }
  }
}
