@import '../../../../../../styles/variables.scss';

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  label {
    background-color: gray;
    width: auto;
    color: $secondary-text-color;
    padding: 0.2rem 0.5rem;
    font-weight: 700;
    border-radius: 0.3rem;
    box-shadow: 3px 3px 7px 0px rgb(148, 148, 148);
  }
  input {
    width: 100%;
    padding: 0.2rem 0.4rem;
    border: 1px solid #b1b1b1;
    border-radius: 3px;
    outline-color: #1976d2;
    box-shadow: 3px 3px 0px 0px rgba(148, 148, 148, 0.267);
  }
  p[role='alert'] {
    padding: 0;
    padding-left: 0.6rem;
    margin: 0;
    color: $error-color;
  }
}
@media only screen and (max-width: $breakpoint-small) {
  .input-container {
    label {
      width: inherit;
    }
    input {
      width: inherit;
    }
  }
}
