@import '/src/styles/variables.scss';

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  overflow: hidden;
}
.truck-type {
  background-color: $background-color;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  margin: 0;
  font-style: italic;
}
.truck-informations {
  margin: 1rem 0;
  padding: 0rem 1rem;
  text-align: center;
  h1 {
    font-size: 1.5rem;
    margin: 0.5rem 0rem;
  }
  p {
    text-wrap: wrap;
    margin: 0.5rem 0;
    font-size: 0.9rem;
  }
}
.buttons {
  display: flex;
  gap: 15px;
}
