@import '../../../styles/variables.scss';

.filter {
  background-color: $primary-color;
  position: relative;
  border-radius: 30px;
  padding: 2rem 1rem;
  box-shadow: 6px 4px 9px -5px rgba(137, 137, 138, 1);
  .filter-name {
    position: absolute;
    top: -10px;
    background-color: $primary-blue-color;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    color: $primary-color;
  }
  .min {
    position: absolute;
    left: 120px;
    top: 5px;
  }
  .max {
    position: absolute;
    left: 195px;
    top: 5px;
  }
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
