.container {
  display: flex;
  flex-direction: column;
  .label {
    // padding-top: 0.4rem;
    min-width: 50px;
  }
  .helperText p {
    font-size: 0.6rem;
    font-family: 'Nunito', sans-serif !important;
  }
}
