.no-results {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(235, 48, 48);
  background-color: rgba(245, 245, 245, 0.774);
  margin: 1rem 1rem;
  position: fixed;
  text-align: center;

  padding-left: 0.5rem;
}
