@import '/src/styles/variables.scss';

.add-car_button {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
  height: $vehicle-card-height;
  width: $vehicle-card-width;
  position: relative;

  &:hover .icon:before {
    transform: scale(21);
  }

  .icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    background-color: #d3d3d3;
    border-radius: 50%;
    padding: 1.2rem;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -20px;
      right: -20px;
      background: #1bb456;
      height: 32px;
      width: 32px;
      border-radius: 32px;
      transform: scale(1);
      transform-origin: 50% 50%;
      transition: transform 0.7s ease-out;
    }
  }

  svg {
    width: 30px;
    height: 30px;
    color: white;
    z-index: 55;
  }
}
@media only screen and (max-width: $breakpoint-medium) {
  .add-car_button {
    height: $vehicle-card-height-mobile;
    width: $vehicle-card-width-mobile;
  }
}
