@import '/src/styles/variables.scss';

.orders-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: $secondary-color;
  border: 1px solid rgb(172, 172, 172);
}
