@import '/src/styles/variables.scss';

.orders-columns__list {
  display: grid;
  padding: 0;
  margin: 0;
  li {
    text-align: center;
    border-right: 1px solid white;
    background-color: rgb(77, 77, 77);
    color: $secondary-text-color;
    padding: 0.5rem 0;
    &:hover {
      background-color: rgb(112, 112, 112);
    }
  }
}
@media only screen and (max-width: $breakpoint-medium) {
  .orders-columns__list {
    display: none;
  }
}
