@import '/src/styles/variables.scss';

.invoices-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  margin-bottom: 0.2rem;
  padding: 0;
  background-color: $background-color;
}
.invoice-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0;
  background-color: $secondary-color;
  width: 100%;
  box-shadow: 4px 6px 21px -11px rgba(66, 66, 66, 1);
}
.no-invoices-information {
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  background-color: rgba(252, 88, 88, 0.554);
}
@media only screen and (max-width: $breakpoint-small) {
  .invoice-pagination {
    padding: 0;
  }
}
