@import '../../../../../../styles/variables.scss';
@import '../../../../../../styles/error.module.scss';
.vehicle-inputs {
  padding: 0.5rem;
  background-color: $secondary-color;
  border-radius: 0.5rem;
}
.error {
  @extend .error;
}
