@import '../../../../../styles/variables.scss';

.header {
  position: relative;
  display: flex;
  background-color: $secondary-color;
  width: 100%;
  height: 40px;

  p {
    align-self: center;
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .close {
    position: absolute;
    display: flex;
    align-items: center;
    top: 10px;
    right: 10px;
    height: 20px;
    width: 20px;
    border: none;
    padding: 0.2rem;
    cursor: pointer;

    &:hover {
      background-color: $bacground-color;
      color: rgb(187, 22, 22);
      border-radius: 50%;
    }
  }
}
