@import '../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: calc($nav-width + 2rem);
  transition: 0.3s padding-left;
  border: 1px solid #d8d8d8;
}
.hidden {
  padding-left: calc(40px + 2rem);
}
