@import '/src/styles/variables.scss';

.order {
  display: grid;
  text-align: left;
  grid-template-columns: 0.2fr 1fr 1fr 0.4fr 1.2fr 0.9fr 1fr 1fr;
  background-color: $secondary-color;
  box-shadow: 8px 8px 24px -5px rgba(150, 150, 150, 0.315);
  span {
    display: flex;
    align-items: center;
    padding: 0.2rem;
  }
  .order-id,
  .select-vehicle__button {
    justify-content: center;
  }
  .loading-address {
    svg {
      width: 30px;
    }
  }
}

@media only screen and (max-width: $breakpoint-large) {
  .order {
    span {
      font-size: 0.75rem;
    }
  }
}

@media only screen and (max-width: $breakpoint-medium) {
  .order {
    grid-template-columns: repeat(2, 1fr);
    border: $order-border;
    .order-id {
      background-color: $order-first-background;
      font-size: 1rem;
      font-weight: 700;
      grid-column: span 2;
      &::before {
        margin: 0 0.1rem;
        content: 'ID: ';
      }
    }

    .loading-address,
    .unloading-address {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: $order-second-background;
      grid-column: span 1;
      font-weight: 600;
      font-size: 0.9rem;
    }
    .payment {
      display: flex;
      justify-content: center;
      background-color: $order-second-background;
      &::before {
        content: 'Price: ';
        margin: 0 0.1rem;
        font-weight: 700;
      }
    }
    .cargo {
      text-align: center;
      background-color: $order-second-background;
      &::before {
        content: 'Cargo: ';
        margin: 0 0.1rem;
        font-weight: 700;
      }
    }
    .date {
      display: flex;
      gap: 5px;
      justify-content: center;
      grid-column: span 2;
    }
    .publisher {
      display: flex;
      justify-content: center;
      grid-column: span 2;
      &::before {
        content: 'Publisher: ';
        margin: 0 0.1rem;
        font-weight: 800;
      }
    }

    .select-vehicle__button {
      grid-column: span 2;
    }
  }
}
