@import '../../../../styles/variables.scss';
.load {
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr 0.8fr 0.6fr 0.6fr 1.2fr 0.6fr;
  background-color: $secondary-color;
  font-size: 0.8rem;
  cursor: pointer;
  &:hover {
    background-color: $primary-color;
  }
  p {
    padding-top: 0.2rem;
    margin: 0;
  }
  p,
  span {
    padding-left: 0.5rem;
  }
  .country {
    font-weight: 700;
  }
  .post-code {
    font-size: 0.7rem;
    color: $primary-text-color;
    padding-top: 0;
  }
  .salary {
    font-weight: 700;
  }
  .vehicles {
    font-size: 0.6rem;
  }
  .term {
    font-size: 0.6rem;
    padding-top: 0;
  }
  .cargo {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding-top: 0.2rem;
    span {
      margin-right: 1rem;
    }
  }
  .date {
    font-size: 0.9rem;
  }
  .company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
    position: relative;
    padding: 0;
    .name {
      font-weight: 700;
      grid-column: 1/3;
    }
    .publisher {
      display: flex;
      gap: 10px;
      font-size: 0.8rem;
      color: $primary-blue-color;
    }
    .avatar {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .time {
    font-size: 0.65rem;
    padding-top: 0;
    white-space: nowrap;
  }
  .accept-button {
    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 100px;
    color: white;
    background-color: $secondary-button-color;
    font-weight: 700;
    font-size: 0.6rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 8px 8px 22px -11px rgba(136, 136, 136, 1);
    cursor: pointer;
    &:hover {
      background-color: #35bb3a;
    }
  }
}
